*

!bte/
!bte/**
!bloc-node/
!bloc-node/**
!mempool-il/
!mempool-il/**
!sbc/
!sbc/**

**/.git
**/.agents
**/.codex
**/.gocache
**/.cache
**/bin
**/results
**/results-*
**/.terraform
**/terraform.tfstate*
**/*.tfplan
**/*.pem
